//Fuentes
$fuente_principal: 'Raleway', sans-serif;
$fuente_secundaria: 'Roboto', sans-serif;
$fuente_cursiva: 'Bona Nova', serif;



//Colores
$primario:#5e311e;
$secundario:#c39c63;
$negro:#000000;
$blanco:#ffffff;
$gris:#eceeef;
$cafeClaro: #ebe7de;



//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


//Unidades
$separacion: 5rem;